/* fade in header */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: none; }
}

header > * {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}
header > *:nth-child(1) { animation-delay: 0.1s; }
header > *:nth-child(2) { animation-delay: 0.5s; }
header > *:nth-child(3) { animation-delay: 1s; }

/* flexbox my beloved */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-header {
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
    background-color: rgb(205, 239, 245);
}

#motto-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#motto-container * {
    width: 50%;
    margin-top: 1rem;
    text-align: center;
}

.menu-row {
    display: flex;
    width: 100%;
    background-color: rgb(205, 239, 245);
}

span {
    flex: 1 1 0;
    border: 0.1rem solid black;
}

#title {
    background-color: rgb(89, 151, 161);
}

#subtitle {
}

#address {
}

#motto {
}

#breakfast {
}

#table-breakfast {
}

#item-header {
}

#price-header {
}

#description-header {
}

#seasonal-lunch {
}

#lunch-note {
}

#table-lunch {
}

#item-header-lunch {
}

#price-header-lunch {
}

#description-header-lunch {
}

#small-bites {
}

#table-small-bites {
}

#item-header-small-bites {
}

#price-header-small-bites {
}

#description-header-small-bites {
}

#a-la-carte {
}

#table-a-la-carte {
}

#item-header-a-la-carte {
}

#price-header-a-la-carte {
}

#kids-menu {
}

#table-kids-menu {
}

#item-header-kids-menu {
}

#price-header-kids-menu {
}

#description-header-kids-menu {
}

#dietary-info {
}

#coffee {
}

#house-brew {
}

#house-brew-table {
}

#v60-pour-over {
}

#v60-pour-over-desc {
}

#table-v60-pour-over {
}

#caffeinated-teas {
}

#caffeinated-teas-table {
}

#herbal-teas {
}

#herbal-teas-table {
}

#other-beverages {
}

#other-beverages-table {
}

#seasonal-drinks {
}

#seasonal-drinks-table {
}

#specialty-lattes {
}

#specialty-lattes-table {
}

#other-espresso {
}

#other-espresso-table {
}

#cocktails {
}

#cocktails-table {
}

#footer {
}
