/* rustic */
@import url('https://fonts.googleapis.com/css2?family=Agu%20Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM%20Fell%20DW%20Pica:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lusitana:wght@400&display=swap');
* {
    text-align: center;
    font-family: 'Times New Roman', Times, serif
}

th {
    font-size: 1.25rem;
    font-family: 'Lusitana', serif;
    letter-spacing: 0.5rem;
}

h2 {
    font-family: 'Agu Display', serif;
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

#title {
    font-family: 'Agu Display', serif;
    font-size: 4rem;
    letter-spacing: 1rem;
}

#subtitle {
    font-size: 3rem;
    font-family: 'IM Fell DW Pica', serif;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

#address {
    font-size: 1.2rem;
    letter-spacing: -0.09rem;
}

#motto {
    font-family: 'Lusitana', serif;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
}

#breakfast {

}

#table-breakfast {
}

#item-header {
}

#price-header {
}

#description-header {
}

#seasonal-lunch {
}

#lunch-note {
}

#table-lunch {
}

#item-header-lunch {
}

#price-header-lunch {
}

#description-header-lunch {
}

#small-bites {
}

#table-small-bites {
}

#item-header-small-bites {
}

#price-header-small-bites {
}

#description-header-small-bites {
}

#a-la-carte {
}

#table-a-la-carte {
}

#item-header-a-la-carte {
}

#price-header-a-la-carte {
}

#kids-menu {
}

#table-kids-menu {
}

#item-header-kids-menu {
}

#price-header-kids-menu {
}

#description-header-kids-menu {
}

#dietary-info {
}

#coffee {
}

#house-brew {
}

#house-brew-table {
}

#v60-pour-over {
}

#v60-pour-over-desc {
}

#table-v60-pour-over {
}

#caffeinated-teas {
}

#caffeinated-teas-table {
}

#herbal-teas {
}

#herbal-teas-table {
}

#other-beverages {
}

#other-beverages-table {
}

#seasonal-drinks {
}

#seasonal-drinks-table {
}

#specialty-lattes {
}

#specialty-lattes-table {
}

#other-espresso {
}

#other-espresso-table {
}

#cocktails {
}

#cocktails-table {
}

#footer {
}
